@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Daniel Sun</h1>
    <p>deploy URL <a href="https://companyweb-ds.azurewebsites.net">Company Web by Daniel Sun</a>.</p>
    <p>Created by Daniel Sun</p>
</div>